<div class="signup-form">
    <form>
		<h2>Add a Case</h2>
		<p>Please fill in this form to create a case.</p>
		<hr>
        <div class="form-group">
			<div class="row">
				<div class="col"><input type="text" class="form-control" name="first_name" placeholder="First Name" required="required"></div>
				<div class="col"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>
			</div>        	
        </div>
        <div class="form-group">
        	<input type="text" class="form-control" name="name" placeholder="Manager's Name" required="required">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" name="date" placeholder="Last day on Site." required="required">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" name="date" placeholder="First day with symptoms." required="required">
        </div>        
    </form>
	
</div>
